/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root,
.new-bg {
  background: radial-gradient(white 20%, #190d23 200%);
}
.project-container {
  background: radial-gradient(#bd243f 10%, #190d23 200%);
}
.text-clr {
  color: #bd243f;
  color: adial-gradient(#bd243f 10%, #190d23 200%);
}
/* For Search Button, might delete later */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: #2051e5;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #fff;
}

.input::placeholder,
.input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: 0.2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid whitesmoke;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* Burger Component */
.burger {
  background: transparent;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
}

.burger input {
  display: none;
}

.burger span {
  background: black;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
}

/* Modal Css */
.modal {
  transition: opacity 0.25s ease;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

/* Text Css in Header.jsx */
.color-text {
  /* Text As Moving GIF as a color */
  background-image: url("https://media.giphy.com/media/CKlafeh1NAxz35KTq4/giphy-downsized-large.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Modal Button Css in Footer */

.add-button {
  height: 50px;
  width: 50px;
  background: #ec407a;
  border-radius: 50%;

  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.add-button.green {
  background: #9ccc65;
}

.add-button.green:hover {
  background: #aed581;
}

.add-button.blue {
  background: #42a5f5;
}

.add-button.blue:hover {
  background: #64b5f6;
}

.add-button:hover {
  background: #f06292;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Heading animation */
.main {
}

.main-heading-primary {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
  font-family: sans-serif;

  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: hotpink;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* MyForm.css */

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.my-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

.my-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .my-input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .my-form {
    width: 90%;
  }
}

/* ------ */
.cursor-not-allowed {
  cursor: not-allowed;
}
/* New Button */

* {
  transition: 0.35s ease;
}

.content-container {
  transform: translate(-50%, 50%);
  position: relative;

  display: inline-block;

  bottom: 0;
  left: 50%;
}
.plus-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  position: relative;
  bottom: -50%;
  z-index: 15;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: #007bff;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.58);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: scale(0.92);
}
.plus-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.plus-button:hover {
  transform: scale(1);
  box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.5);
}
.plus-button:active {
  transform: scale(0.96);
  box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, 0.53);
}

/* Media Queries */
/* Calender Components */
.pick-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #e8e8e8;
  z-index: 1;
  background: #bd243f;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.pick-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.pick-btn:hover {
  color: #e8e8e8;
}

.pick-btn:hover::before {
  width: 100%;
}

/* Text Hover */
.txt-btn {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.txt-btn:focus,
.txt-btn:hover {
  color: #fff;
}

.txt-btn:focus:after,
.txt-btn:hover:after {
  width: 100%;
  left: 0%;
}

.txt-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Footer Button  */
.f-button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.f-button {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.f-button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.f-button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.f-button p::before {
  position: absolute;
  /*   box-sizing: border-box; */

  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.f-button:hover::after {
  width: 100%;
}

.f-button:hover p::before {
  width: 100%;
}

.f-button:hover svg {
  color: var(--hovered-color);
}

.f-button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* DOuble Border Text  */
@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: small;
  }
  .footer span,
  .footer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: small;
  }
  .footer span,
  .footer p {
    font-size: 0.75rem;
  }
}
